@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}


.logo {
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  cursor: pointer;
  height: 80px;
  margin-top: 1rem;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins';
  background: rgb(84,87,88);
  background: linear-gradient(90deg, rgba(84,87,88,1) 0%, rgba(237,239,241,1) 46%, rgba(66,76,85,1) 100%);
}

.container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.content {
  display: flex;
  gap: 5em;
  width: 100%;
  margin: 0;
  padding-top: 0.4em;
  position: absolute;
  color: #fff;
  margin-top: 20rem;
}

.content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  transform: scaleX(1);
}

h1 {
  font-family: monoton;
  font-size: 3rem;
  width: 50vw;
  line-height: 97%;
  text-align: right;


  color: #000000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-image: url("backtest.jpg");
  background-size: 120%;
  animation: bg-animation 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

h1, p {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

p {
  font-size: 1.3rem;
  width: 40vw;
}

.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2em;
  position: fixed;
  right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-right: 1.4rem;
}

nav li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;

  transition: all 0.3s ease;
  text-align: center;
}

nav li a {
  text-decoration: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgba(121,121,121,1) 0%, rgba(158,0,0,1) 46%, rgba(136,136,136,1) 100%);
  font-family: Montserrat,Arial;
  font-weight: 1000;
}

.whoAmI {
  margin-top: 400rem;
}

/* .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100rem;
}

.sect1 {
  margin-top: 270rem;
  margin-bottom: 20rem;
} */